tbody>tr>td {
    border: 1px solid #d5d5d5;
    background: 0 0;
    border-left: 0;
    border-right: 0;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1em
}
thead>tr:first-child>th {
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
.cursor-pointer{
    cursor: pointer;
}
.bg-color{
    background-color: #fbf1f1 !important;
}
.bg-color1{
    background-color: #fbf1f1 !important;
}
.timesheet-container{
    // margin-top: 50px;
}